<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Post and Favorite: "<%= @post.title %>. <%= @post.title %> has been added to your Favorites. You will be emailed with updates when your new post is commented on."</h1>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
